#boost-links {
    padding: 2rem;
    background-color: var(--bg-secondary);
    display: grid;
    place-content: center;
    grid-gap: 1rem;
    text-align: center;
}

#boost-links h2 {
    color: var(--txt-secondary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#boost-links .boost-link a {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--btn-primary);
    color: var(--txt-secondary);
}